<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
   <!-- <h4>Hello username</h4>
    <br>-->
    <title>Sign up</title>
    <meta name="description" content="Sign up page">
    <meta name="author" content="Amaia Soubelet">
    <script src="https://kit.fontawesome.com/9606692b7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>

<body class="w3-light-grey">

    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <span class="w3-bar-item w3-right">Beat The Curve</span>
        <span class="w3-bar-item w3-left">Sign up</span>
    </div>
   
    <div class="w3-main" style="margin-left:300px;margin-top:43px;"></div>
        <header class="w3-container" style="padding-top:22px">
            <h3><b> <i class="fas fa-address-card"></i> Sign up</b></h3>
        </header>
    <div class="w3-container"> 
        <form action="{% url 'customsignup' %}" method="post">
            {% csrf_token %}
            <table cellspacing="2">
                <tr>
                    <td> Age </td>
                    <td> {{ form.age }} </td>
                </tr>
                <tr>
                    <td> Gender </td>
                    {{ form.gender }}
                </tr>
                <tr>
                    <td> Househole size </td>
                    <td> {{ form.household_size }} </td>
                </tr>
                <tr>
                    <td> Comorbidities </td>
                    <td> {{ form.commorbidities }} </td>
                </tr>
                <tr>
                    <td> Current Symptoms </td>
                    <td> {{ form.symptoms }} </td>
                </tr>

            </table>
            <p>
                <input class="w3-button w3-blue-grey" type="submit" value="Next">
            </p>
        </form>
    </div> 
</body>
</html>