<!DOCTYPE html>

{% load filters %}
{% load static %}
<html>
<head>
    
	<meta charset="UTF-8">
    <title>Beat the curve - Daily Logs</title>
    <meta name="description" content="An attempt to make login page">
    <meta name="author" content="Max Dupont">
    <link rel="stylesheet" href={% static "main/toggle-radios.css" %}>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://kit.fontawesome.com/9606692b7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>

<body class="w3-light-grey">
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <span class="w3-bar-item w3-right">Beat The Curve</span>
        <span class="w3-bar-item w3-left">Daily logs</span>
    </div>

    <div class="w3-main" style="margin-left:300px;margin-top:43px;"></div>
        <header class="w3-container " style="padding-top:22px">
            <div class="w3-container w3-center">
                <h3><b> <i class="fas fa-address-card "></i> Daily logs </b></h3>
            </div>
        </header>

    <div class="w3-row w3-row-padding w3-margin-bottom">
        <div class="w3-quarter w3-container ">
            <p></p>
        </div>

        <div class="w3-half w3-container">
            <div class="w3-container w3-padding-16">
                <div class="w3-container w3-teal">
                    <h2>Daily logs</h2>
                </div>

                <div class="w3-container">
                    <p>Here you are welcome to register the actions you take to fight COVID-19 today. </p>
                </div>

                <div class="w3-container w3-teal">
                    <h2>Logs</h2>
                </div>
                <form action="{% url 'daily' %}" method= "POST">

                    {% csrf_token %}

                    <div class="w3-container">
                        <p>
                        <label for="option" class=" w3-text-teal">
                            <b>Did you go out more than 15 minutes today? :</b>
                        </label>
                        </p>
                        {{ form.leave }}
                    </div>
                    
                    <div class="w3-container">
                        <div class="w3-quarter" style="width:12%">
                            <label for="option" class=" w3-text-teal">
                                <p><b><br>If yes:</b></p>
                            </label>
                        </div>

                        <div class="w3-threequarter">
                            <div>
                                <p>
                                <label for="option" class=" w3-text-teal">
                                    <b><br>Did you wash your hands when comming back home:</b>
                                </label>
                                </p>
                                {{ form.hand_wash_after_leave }}
                                              
                            </div>

                            <p>
                                <label class="w3-text-teal">
                                    <b><br>Why did you go out?</b>
                                </label><br><br>
                                {{ form.reason }}
                            </p>
                        </div>
                    </div>
                    
                    <div class="w3-container">
                        <p>
                        <label for="option" class=" w3-text-teal">
                            <b>Did you spend time in a crowded place? :</b>
                        </label>
                        </p>
                        {{ form.crowded_places }}
                    </div>

                    <div class="w3-container">
                        <p>
                        <label for="option" class=" w3-text-teal">
                            <b>How frequently do you wash your hands? :</b>
                        </label>
                        </p>
                        {{ form.hand_wash_frequency }}
                    </div>

                    <div class="w3-container" style="margin-left:75%">
                        <input type="submit" class="w3-btn w3-blue-grey" value="Submit">
                    </div>
                </form>
 
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>    
</body>
</html>