<html>
    <head>
        <meta charset="UTF-8">
        <title>Beat the Curve - Info-Quiz </title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="css_quiz.css">
        <meta name="description" content="The Dashboard">
        <meta name="author" content="Lucie">
        <script src="https://kit.fontawesome.com/9606692b7c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

            /* .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
            }

            .alert.success {background-color: #4CAF50;}
            .alert.info {background-color: #2196F3;}
            .alert.warning {background-color: #ff9800;}

            .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            }

            .closebtn:hover {
            color: black;
            } */
        </style>

    </head>

    <body class="w3-light-grey">
        <meta charset="UTF-8">
        <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
            <span class="w3-bar-item w3-right">Beat The Curve</span>
        </div>

        <div class="w3-container w3-quarter">
            <i class="fa fas-award"></i>
        </div>
        <div class="w3-container w3-half w3-teal w3-center" style="margin-top:43px;">
            <div class="w3-right">
                <br><i class="fas fa-smile-wink"></i>
            </div>
            <h1><b>Info - Quiz !!</b></h1>
            <h4>Inform yourself in a fun way</h4>
        </div>


        <!-- Réponse 1 -->
        <div id='v01' class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v01').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- Réponse 2 -->
        <div id="v02" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v02').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    When someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may contain virus. 
                    If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person coughing has the disease.
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v02').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
        
            </div>
          </div>

        <!-- Réponse 3 -->
        <div id="v03" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v03').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    <b>False.</b> To date there has been no information nor evidence to suggest that the new coronavirus could be transmitted by mosquitoes. The new coronavirus is a respiratory virus which spreads primarily through droplets generated when an infected person coughs or sneezes, or through droplets of saliva or discharge from the nose.

                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v03').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- Réponse 4 -->
        <div id="v04" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v04').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    <b>True.</b> Washing hands with soap and water is the best and most 
                    effective way to reduce the number of microbes and germs on hands.
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v04').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Réponse 5 -->
        <div id="v05" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v05').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    <b>False.</b> Hotter water can also dry out skin, which leaves your skin more susceptible to germs and can 
                    make handwashing painful. It is best to wash your hands with the temperature that you find comfortable.
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v05').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
        
            </div>
          </div>
        </div>

        <!-- Réponse 6 -->
        <div id="v06" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-green">
                <span onclick="document.getElementById('v06').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Correct !</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    <b>True.</b> True. Studies show that germs can be more 
                    easily transferred to and from wet hands, which is why drying hands is essential to staving off bacteria after handwashing.
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('v06').style.display='none'" type="button" class="w3-button w3-green">OK !</button>
              </div>
        
            </div>
          </div>
        </div>


         <!-- WRONG -->
         <div id="f0" class="w3-modal ">
            <div class="w3-modal-content w3-light-gray w3-card-4 w3-animate-zoom" style="max-width:600px">
          
              <div class="w3-center w3-red">
                <span onclick="document.getElementById('f0').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
                <h1>Wrong!</h1>
              </div>
        
              <form class="w3-container w3-light-gray" >
                <div class="w3-section w3-center">
                    Try again...
                </div>
              </form>
        
              <div class="w3-container w3-border-top w3-center w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('f0').style.display='none'" type="button" class="w3-button w3-red">OK !</button>
              </div>
        
            </div>
          </div>
        </div>


        <div class="w3-third w3-orange" style="margin-left:11%; margin-top:5%; height:42%">
            <center><h4><b>Why should you wash your hands frequently?</b></h4></center><br>

    
                <div style="margin-bottom:1% ; margin-left:1%">
                    <button onclick="document.getElementById('v01').style.display='block'" class="w3-button w3-dark-grey w3-large">A.</button>
                    Soap and alcohol kill viruses 
                </div>
                <div style="margin-bottom:1%; margin-left:1%">
                    <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">B.</button> 
                    To make them smell good
                </div>
                <div style="margin-bottom:1%; margin-left:1%">
                    <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">C.</button> 
                    Dirty hands attract flies that are sick
                </div>
            
        </div>
        

        <div class="w3-third w3-orange" style="margin-left:11.333%; margin-top:5%; height:42%">
            <center><h4><b>Why should you keep 1 metre distance with people who are coughing or sneezing?</b></h4></center><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">A.</button> 
                If they fall on you, you could hurt yourself<br>
            </div>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">B.</button> 
                It is polite<br>
            </div>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('v02').style.display='block'" class="w3-button w3-dark-grey w3-large">C.</button> 
                They could spray dropplets that may contain viruses<br>
            </div>
        </div>

        <div class="w3-third w3-orange" style="margin-left:11%; margin-top:5%; height:42%">
            <center><h4><b>True or False?</b> <br>It doesn’t matter how long I wash my hands as long as I use soap</h4><br><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">True</button>
                <button onclick="document.getElementById('v03').style.display='block'" class="w3-button w3-dark-grey w3-large">False</button>
            </div></center>
        </div>

        <div class="w3-third w3-orange" style="margin-left:11.333%; margin-top:5%; height:42%">
            <center><h4><b>True or False?</b> <br>Hand sanitizers are less efficient than washing your hands with soap and water </h4><br><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('v04').style.display='block'" class="w3-button w3-dark-grey w3-large">True</button>
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">False</button>
            </div></center>
        </div>

        <div class="w3-third w3-orange" style="margin-left:11%; margin-top:5%; height:42%">
            <center><h4><b>True or False?</b> <br>The hotter the water you use for handwashing, the better</h4><br><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">True</button>
                <button onclick="document.getElementById('v05').style.display='block'" class="w3-button w3-dark-grey w3-large">False</button>
            </div></center>
        </div>

        <div class="w3-third w3-orange" style="margin-left:11.333%; margin-top:5%; height:42%">
            <center><h4><b>True or False?</b> <br>You should dry your hands after washing them</h4><br><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('v06').style.display='block'" class="w3-button w3-dark-grey w3-large">True</button>
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">False</button>
            </div></center>
        </div>

        <div class="w3-third w3-orange" style="margin-left:11%; margin-top:5%; height:42%">
            <center><h4><b>True or False?</b> <br>Hand dryers are less hygienic than paper towels</h4><br><br>
            <div style="margin-bottom:1%; margin-left:1%">
                <button onclick="document.getElementById('f0').style.display='block'" class="w3-button w3-dark-grey w3-large">True</button>
                <button onclick="document.getElementById('v05').style.display='block'" class="w3-button w3-dark-grey w3-large">False</button>
            </div></center>
        </div>
        


        </div>
        https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public


        <script>
            var close = document.getElementsByClassName("closebtn");
            var i;
            
            for (i = 0; i < close.length; i++) {
              close[i].onclick = function(){
                var div = this.parentElement.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 600);
              }
            }
            </script>

    </body>
</html>